Brotli @ file:///work/perseverance-python-buildout/croot/brotli-split_1698805593785/work
certifi @ file:///croot/certifi_1707229174982/work/certifi
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
filelock @ file:///work/perseverance-python-buildout/croot/filelock_1701733993137/work
idna @ file:///work/perseverance-python-buildout/croot/idna_1698845632828/work
Jinja2 @ file:///work/perseverance-python-buildout/croot/jinja2_1707343043683/work
MarkupSafe @ file:///work/perseverance-python-buildout/croot/markupsafe_1707342994941/work
mkl-fft @ file:///work/perseverance-python-buildout/croot/mkl_fft_1698845673361/work
mkl-random @ file:///work/perseverance-python-buildout/croot/mkl_random_1698845720894/work
mkl-service==2.4.0
mpmath @ file:///work/perseverance-python-buildout/croot/mpmath_1698864994882/work
networkx @ file:///work/perseverance-python-buildout/croot/networkx_1698865062738/work
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp312-cp312-linux_x86_64.whl#sha256=1d700f51d8b4fa684d858c9e3b56b1656bc5c82b6b79ff08d4e3b491c430059f
pillow @ file:///croot/pillow_1707233021655/work
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1698845478203/work
PyYAML @ file:///work/perseverance-python-buildout/croot/pyyaml_1698849903511/work
requests @ file:///croot/requests_1707355572290/work
setuptools==68.2.2
sympy @ file:///croot/sympy_1701397643339/work
torch==2.2.2
torchaudio==2.2.2
torchsummary==1.5.1
torchvision==0.17.2
tqdm==4.66.4
typing_extensions @ file:///croot/typing_extensions_1705619912070/work
urllib3 @ file:///croot/urllib3_1707770551213/work
wheel==0.41.2

numpy~=1.26.4